/target/
.DS_Store
target
*.ipr
*.iws
.idea/
*.iml
derby.log
metastore_db
${RAW_BASE_PATH}
{RAW_BASE_PATH}
${TABLE_BASE_PATH}
{TABLE_BASE_PATH}
$TABLE_BASE_PATH
mysql
rawBasePath
tableBasePath
.hiverc/
./src/examples/hive
./src/examples/queries-files
.idea/workspace.xml